body {
    text-align: center;
    background-color: rgb(139, 0, 0);
}
.capa{
    width: 60%;
}
    .beneficios-imagem{
        width: 40%;
    }
    .beneficios {
        width: 100%;
        text-align: line-through;
        background-color: rgb(124, 0, 0);
    }

    ul{
        display: inline-block;
        vertical-align: top;
        margin-right: 600px;
    }
    li{
        padding: 50px;
        font-size: 40px;
    }